.CardProject {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 100%;
  padding: 2px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 10px;
}

.CardProjectLeft {
  width: 50%;
  text-align: center;
}

.CardProjectLeft h3 {
  font-size: 16px;
  letter-spacing: 1px;
}

.CardProjectLeft h4 {
  padding-top: 30px;
  width: 80%;
  margin: auto;
  font-weight: 400;
}

.CardProjectLeft div {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardProjectLeft div span {
  font-weight: bold;
  margin: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InviteCode {
  padding-top: 20px;
}

.Icon {
  font-size: 25px;
}

.Link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  padding: 0px 5px;
  transition: 0.5s;
}

.Link:hover {
  color: #3b82f6;
  transition: 0.5s;
}

.CardProjectRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://dmanisio.sirv.com/Images/menu-do-sistema.png);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 1025px){
  .CardProjectRight{
    width: 40%;
    background-size: cover;
  }
}

@media only screen and (max-width: 768px){
  .CardProject{
    display: inline-block;
    height: 500px;
  }

  .CardProjectLeft{
    width: 100%;
  }

  .CardProjectRight{
    width: 100%;
    height: 30%;
    background-size: cover;
    margin-top: 20px;
  }
}